.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
}
body{
    margin:0;
    padding:0;
    background: #efefef;
}
h1,h2,p{
    margin: 0;
    padding: 0;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}
li{
    list-style: none;
}
.topNavBar{
    padding: 28px 0px;
    position: fixed;
    width: 100%;
}
.topNB-inner{
    padding: 0px 17px;
}
.topNavBar  nav{
    padding-top: 5px;
    padding-bottom: 3px;
}
.topNavBar nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar  nav > ul > li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;

}
.topNavBar  nav > ul > li > a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #878787;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.topNavBar  nav > ul > li > a:hover{
    border-bottom: 3px solid red;
}
.topNavBar .logo{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial Black';
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card{
    color: #9a9da2;
}
.banner{
    height: 515px;
    background-image: url(./img/rs-cover.jpg);
    background-position: center;
    background-size: cover;
}
.banner .mask{
    background-color:rgba(0, 0, 0, 0.7);
    height: 515px;
}
main .card{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding-top: 57px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.36);
}
main .picture{
    float: left;
    margin-left: 51px;
    margin-right: 65px;
    margin-bottom: 40px;
}
main .text{
    float: left;
    margin-bottom: 40px;
}
.text .welcome{
    background: #e6686a;
    font-size: 14px;
    color: white;
    display: inline-block;
    padding: 4px 12px;
    font-weight: bold;
    line-height: 22px;
    position: relative;
}
.triangle{
    display: block;
    position: absolute;
    top:100%;
    left: 5px;
    border: 10px solid #e6686a;
    height: 0px;
    width: 0px;

    border-style: solid;
    /* border-left-width: 5px; */
    border-bottom-color: transparent;
    border-top-width: 0px;
    border-right-width: 0px;
       
}
.name{
    margin-top: 26px;
    margin-bottom: 8px;
    
}
.zi{
    margin-bottom: 21px;
}
.text hr{
    width: 480px;
}

.text dl dt{
    float: left;
    width: 30%;
    font-weight: bold;
    padding: 10px;
    padding-left: 0px;
}
.text dl dd{
    width: 70%;
    color: #9da0a7;
    padding: 10px;
    padding-left: 0px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    width: 30px;
    height: 30px;
    fill: white;

    vertical-align: top;
 }
.media{
    clear: both;
    background: #e6686a;
    text-align: center;
}
.media a{
    display: inline-block;
    border-radius: 50%;
    padding:10px 0;
    line-height: 30px;
    width: 50px;
    margin: 18px 19px;

}
.media a:hover{
    background: #cf5d5f;
}
.comeUp{
    margin-top: -340px;

}
.father{
    margin: 31px 0px;
    text-align: center;
}
.father .button{
    border: 1px solid #cdcfd1;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 45px;
    display: inline-block;
    background: #efefef;
    color: black;
    font-weight: bold;
}
.father .button:hover{
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.49);
    transition: box-shadow 0.4s;
}
.selfIntroduction{
    text-align: center;
    line-height: 1.8;
    font-size: 17px;
    margin-bottom: 80px;
}
.skills{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.skills .SkillsList{
    background: #fff;
    margin-top: 28px;
    padding: 40px 50px 10px ;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.36);
}
.skills h2{
    color:#3d4451;
    text-align: center;
}

.skills .SkillsList li{
    font-size: 14px;
    float: left;
    width: 50%;
    position: relative;
    box-sizing: border-box;
    padding-right:15px ;
    padding-left: 15px;
    margin-bottom: 38px;
}
.skills .SkillsList li .barValue{
    right: 14px;
    position: absolute;
}
.skills .SkillsList .barLine{
    background: #FAE1E1;
    height: 5px;
    border-radius: 2px;
    margin-top: 2px;
}
.skills .SkillsList .barFill{
    background: #E8676B;
    height: 100%;
    width: 80%;
    border-radius: 2px;
}